<div class="container d-flex align-items-center justify-content-center vh-100">
  <form class="row md-6" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group col-md-11">
      <label for="lugar" class="form-label">Lugar</label>
      <input
        type="text"
        class="form-control"
        id="lugar"
        name="lugar"
        placeholder="Digite o lugar que você planeja ir."
        minlength="3"
        oninput="this.value = this.value.replace(/[^a-zA-ZÀ-ú\s]/g, '')"
        [(ngModel)]="ferias.lugar"
        #nome="ngModel"
        required
      />
      <div
        *ngIf="!nome.valid && nome.touched"
        class="alert alert-danger mt-3"
        role="alert"
      >
        O nome do lugar é obrigatório.
      </div>

      <label for="dias" class="form-label mt-3">Dias</label>
      <input
        type="number"
        class="form-control"
        id="dias"
        name="dias"
        placeholder="Digite quanto dias você planeja ficar."
        min="1"
        max="30"
        [(ngModel)]="ferias.dias"
        #dias="ngModel"
        required
      />
      <div
        *ngIf="!dias.valid && dias.touched"
        class="alert alert-danger mt-3"
        role="alert"
      >
        Suas férias precisam ter entre 1 e 30 dias.
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-success mt-3" [disabled]="!f.valid">
        Planejar férias
      </button>
    </div>
  </form>
</div>
