<div class="container d-flex align-items-center justify-content-center vh-100">
  <form class="row g-2">
    <div class="form-group col-11">
      <label for="lugar" class="form-label">Lugar</label>
      <input
        type="text"
        class="form-control"
        id="lugar"
        placeholder="Digite o lugar que você planeja ir."
      />

      <label for="dias" class="form-label mt-3">Dias</label>
      <input
        type="number"
        class="form-control"
        id="lugar"
        placeholder="Digite quanto dias você planeja ficar."
      />
    </div>

    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-success mt-3">
        Planejar férias
      </button>
    </div>
  </form>
</div>
